@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  background-color: rgb(72, 73, 73);
  font-family: "Poppins", sans-serif;
  color: rgb(20, 204, 50);
  font-weight: 700;
}
